/* Set background color and margin for the entire page */
body {
    background-color: #f5e6cc; /* Light beige background for a warm tone */
    margin: 15px; /* Adds space around the page */
}

/* Center align the main heading */
h1 {
    text-align: center;
}

/* Navbar styling */
.navbar ul {
    background-color: rgb(0, 0, 0);/* Black background for the navbar */
    list-style-type: none; /* Removes bullet points from list items */
    padding: 0px;
    margin: 0px;
    overflow: hidden; /* Ensures proper spacing and alignment */
}

/* Navbar links */
.navbar a {
    text-decoration: none; /* Removes underline from links */
    padding: 15px;
    display: block; /* Makes the entire area clickable */
    text-align: center;
}

/* Navbar hover effect */
.navbar a:hover {
    background-color: rgb(61, 61, 61); /* Darker gray color when hovering */
}

/* Navbar list items */
.navbar li {
    float: left; /* Aligns menu to the left */
}

/* Center align all paragraph text */
p {
    text-align: center;
}

/* Center content inside div elements */
div {
    display: grid;
    place-items: center; 
}

/* makes the font size with the suppersigmaid to be bigger */
#supersigmaid {
    font-size: 24px; /* Makes the text larger */
}

/* Add a shadow effect to all images */
img {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Adds a subtle shadow */
    filter: inherit;
}

label {
    width: 60px;
    height: 30px;
    position: absolute;
    left: 1110px;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.3
}

label:after {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 0.3
}
input {
    width: 0px;
    height: 0px;
    visibility: hidden;
}
input:checked + label {
    background: #242424;
}
input:checked + label:after {
    left: 100px;
    transform: translateX(-100%);
    background: #3a3a3a;
}
.backround {
    width: 100vw;
    height: 150vw;
    backround: white;
    z-index: -1;
    position: absolute;
    transition: 0.3;
}
input:checked + label + .backround {
    background: #242424;
}
input:checked + label + h1 {
    background: #ffffff;
}