/* Navbar styling */
.navbar ul {
    background-color: #800000 ;/* Black background for the navbar */
    list-style-type: none; /* Removes bullet points from list items */
    padding: 0px;
    margin: 0px;
    overflow: hidden; /* Ensures proper spacing and alignment */
}

/* Navbar links */
.navbar a {
    text-decoration: none; /* Removes underline from links */
    padding: 15px;
    display: block; /* Makes the entire area clickable */
    text-align: center;
}

/* Navbar hover effect */
.navbar a:hover {
    background-color: rgb(85, 36, 36); /* Darker gray color when hovering */
}

/* Navbar list items */
.navbar li {
    float: left; /* Aligns menu to the left */
}

h1 {
    font-size: 64px;
    text-align: center;
}

div {
    font-size: 32px;
    text-align: center;
}

img {
    float: center;
}

*,
*::before
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

.wrapper {
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 100px;
    margin-top: 5rem;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,1) 80%,
        rgba(0,0,0,0)
    );
}

@keyframes scrollleft {
    to {
        left: -200px;
    }
}

.item {
    width: 200px;
    height: 100px;
    background-color: rgb(85, 36, 36);
    border-radius: 6px;
    position: absolute;
    left: max(calc(200px * 8), 100%);
    animation-name: scrollleft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.item1 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item2 {
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3 {
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4 {
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5 {
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6 {
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7 {
    animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
    animation-delay: calc(30s / 8 * (8 - 8) * -1);
}





